<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>
    <h1>Bienvenido</h1>
    <form th:action="@{/home/procces-region}" method="post" th:object="${country}">
        <select th:field="*{name}">
            <option th:value="'PERU'" th:text="Peru"></option>
            <option th:value="'BOLIVIA'" th:text="Bolivia"></option>
            <option th:value="'OTRO'" th:text="'Cualquier otro'"></option>
        </select>
        <input type="submit" value="Acceder al servicio">
    </form>
</body>
</html>